FinPro/Service References/FinProSyncService/sync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:objAccount" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="objAccount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="accountPrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="accountLevel" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="accountParent" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="accountType" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="associateID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="accountTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="accountCreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="accountCreatedBy" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="accountLastUpdated" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="accountLastUpdatedBy" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="accountLedger" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="accountActual" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="accountDefaultVersaAccount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="accountIsBudgetDependent" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="accountIsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="accountIsVisible" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="accountIsTransactable" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="accountSystemIndex" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:objAccount" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:objTransaction" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="objTransaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="transID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transSystemIndex" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transParticipantID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="transRefID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transAttachedFiles" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="transInvoiceID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transDrAccount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transCrAccount" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="deptId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="transNarration" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="transAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="transCreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="transCreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transUpdatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="transUpdatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transSystemRestrict" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="transGroupID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transIsCompound" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="transType" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddTransactionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" type="tns:objTransaction" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTransactionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTransactionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="AddAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="AddTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:AddTransaction" />
  </wsdl:message>
  <wsdl:message name="AddTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:AddTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTransaction" />
  </wsdl:message>
  <wsdl:message name="UpdateTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTransaction" />
  </wsdl:message>
  <wsdl:message name="DeleteTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncSoap">
    <wsdl:operation name="AddAccount">
      <wsdl:input message="tns:AddAccountSoapIn" />
      <wsdl:output message="tns:AddAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input message="tns:DeleteAccountSoapIn" />
      <wsdl:output message="tns:DeleteAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <wsdl:input message="tns:AddTransactionSoapIn" />
      <wsdl:output message="tns:AddTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <wsdl:input message="tns:UpdateTransactionSoapIn" />
      <wsdl:output message="tns:UpdateTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <wsdl:input message="tns:DeleteTransactionSoapIn" />
      <wsdl:output message="tns:DeleteTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncSoap" type="tns:SyncSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <soap:operation soapAction="http://tempuri.org/AddTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <soap:operation soapAction="http://tempuri.org/UpdateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <soap:operation soapAction="http://tempuri.org/DeleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncSoap12" type="tns:SyncSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap12:operation soapAction="http://tempuri.org/DeleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <soap12:operation soapAction="http://tempuri.org/AddTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <soap12:operation soapAction="http://tempuri.org/UpdateTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <soap12:operation soapAction="http://tempuri.org/DeleteTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sync">
    <wsdl:port name="SyncSoap" binding="tns:SyncSoap">
      <soap:address location="http://localhost:3707/sync.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncSoap12" binding="tns:SyncSoap12">
      <soap12:address location="http://localhost:3707/sync.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>